.skills {
  max-width: 100vw;
  margin-top: .8rem;
}
.languages span {
  color: black;
  font-family: Noto Sans;
  font-size: 6vw;
  padding-left: 1.5rem;
}
.languages{
  padding: .8rem 0rem;
}
.centerskills{
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
}