.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
}
.avatar-image {
  margin: 0rem 2rem;
  border-color: #ffffff;
  border-style: solid;
  border-width: 15px;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}
.avatar-text {
  position: absolute;
  margin-top: 1rem;
  width: 10rem;
}
.avatar-text p {
  font-size: 12px;
  color: white;
  background-color: #000000;
  padding: 8px;
  border-radius: 0.6rem;
}
.avatar-image img {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}


.menu-list ul {
  display: flex;
}
.menu-list li {
  list-style: none;
  margin: 0rem 2rem;
}
.menu-list ul li a {
  color: #551a8b;
  font-size: 2rem;
  text-decoration: none;
  text-transform: lowercase;
}

.mob-menu-btn{
  margin: 0rem 2rem;
  display: none;
}

@media only screen and (max-width: 800px) {
  .menu-list {
    display: none;
  }
  .mob-menu-list {
    display: block;
    position: absolute;
    background-color: rgb(0, 0, 0);
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    min-width: 40vw;
    top: 0;
    position: fixed;
    z-index: 99;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  }

  .mob-menu-list li {
    padding: 2rem 0rem;
    margin: 0rem 4rem;
  }
  .mob-menu-list li a {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    text-transform: lowercase;
  }
  .mob-menu-btn{
    display: block;
    cursor: pointer;
    z-index: 999;
  }
  .mob-menu-btn span {
    border-color: #ffffff;
    border-width: 19px;
    border-style: solid;
    border-radius: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 999;
  }
}
/*
  .theme {
    position: relative;
  }
  .btn-current-option {
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    padding: 10px;
    width: 6rem;
    border: white;
  }
  .theme-options {
    background-color: white;
    margin-top: 0.7rem;
    position: absolute;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    z-index: 999;
  }
  .theme-options li{
    text-decoration: none;
    list-style: none;
  }
  .theme-options span {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
 */