@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans:wght@100&family=Nunito:wght@700&family=Quicksand:wght@700&family=Raleway&family=Work+Sans&display=swap');


:root {
  --one:rgb(242, 242, 242);
  --two:  #aaaaaa;
  --three: #000000;
  --four: #adf1e0, #8075ff, #ff7171;
  --five: #ffffff;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  overflow-x: hidden;
  background-color: rgb(242, 242, 242);
  font-family: Raleway;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}


@media only screen and (max-width: 600px) {
  *{
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  *{
    font-size: 16px;
  }
}
@media only screen and (min-width: 769px) {
  *{
    font-size: 18px;
  }
}